.sfondo{
    margin:0;
    height: 100px;
     background-color:cornflowerblue;   
    background-image: url(../img/pattern.png);
    background-size: contain; 
}

.logo{
    height: 40%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
}

/* main */
h1{
    margin-bottom: 0;
}

#author{
    margin-top: 0;
    color: grey;
}

a{
    text-decoration: none;
}

span{
    background-color: yellow;
}

thead{
    color: white;
    background-color: turquoise;
}

.name{
    background-size: 25%;
}

.first{
    background-color: rgb(72, 161, 184);
}

