body{
    margin: 0;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

/* header */
#main-header{
    background-color: cadetblue;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 30%;
    line-height: 100px;
}

#logo{
    height: 50px;
    vertical-align: middle;
}


/* main */
h1{
    margin-bottom: 0;
    font-size: 40px;
}

.grei{
    margin-top: 0;
    color: grey;
}

a{
    text-decoration: none;
}

ul{
    padding-inline-start: 0;
    list-style-position: inside;
}

/* set layout table */
thead{
    color: white;
    background-color: turquoise;
}

.first{
    background-color: rgb(72, 161, 184);
}

.dimension{
    width: 25%;
}

th{
    text-align: left;
}



